/*.elf
/.settings/
/.cproject
/.project
/build/
/sockme.cpp
/ex/
/Hz.tar.lzma
/misclib/
chokimod-build-out/CHokiMod-nightly-stripped.elf
chokimod-build-out/CHokiMod-nightly.elf
chokimod-build/_init.d
chokimod-build/_init.o
chokimod-build/CHokiMod-nightly.lst
chokimod-build/CHokiMod-nightly.map
chokimod-build/main.d
chokimod-build/main.o
chokimod-build/misc/pattern.d
chokimod-build/misc/pattern.o
chokimod-build/service/gx.d
chokimod-build/service/gx.o
chokimod-build/service/mcu.d
chokimod-build/service/mcu.o
chokimod-build/tga/targa.d
chokimod-build/tga/targa.o
HzLoad/CHzLoad-build-out/HzLoad-stripped.elf
HzLoad/CHzLoad-build-out/HzLoad.elf
