/.settings/
/.cproject
/.project
/build/
/sockme.cpp
/ex/
/Hz.tar.lzma
/misclib/
/chokimod-build/
chokimod-build-out/CHokiMod-nightly-stripped.elf
chokimod-build-out/CHokiMod-nightly.elf
HzLoad/CHzLoad-build-out/HzLoad-stripped.elf
HzLoad/CHzLoad-build-out/HzLoad.elf
